.navbar-dropdown {
  position: relative;
}

.navbar-dropdown-button {
  background: none;
  border: none;
  color: var(--color-surface);
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: normal;
  cursor: pointer;
  padding: 10px;
  border-radius: 12px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 6px;
}

.navbar-dropdown-button:hover {
  background: #18529e;

  transform: translateX(5px);
}

.navbar-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  background: var(--color-surface);
  border-radius: 12px;
  box-shadow: var(--shadow-md);
  padding: 10px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.navbar-dropdown-menu a {
  color: var(--color-text);
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.navbar-dropdown-menu a:hover {
  background: var(--color-surface);
  color: var(--color-primary);
}